test/soapdust/server/test.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<definitions name="TestService" targetNamespace="definitionNS" xmlns="http://schemas.xmlsoap.org/wsdl/" 
  xmlns:ns1="schema1NS" 
  xmlns:tns="element1NS"
  xmlns:dns="definitionNS"
  xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" 
  xmlns:xsd="http://www.w3.org/2001/XMLSchema">
 <types>
  <xs:schema targetNamespace="schema1NS" version="1.0" xmlns:tns="schema1NS" xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:nns="element1NS">
   <xs:complexType name="messageSubParameter">
    <xs:sequence>
     <xs:element form="qualified" name="subParameter1" nillable="true" type="xs:string"/>
     <xs:element form="qualified" name="subParameter2" nillable="true" type="xs:string"/>
     <xs:element form="qualified" name="subParameter3" nillable="true" type="xs:string"/>
     <xs:element form="qualified" name="subParameter4" nillable="true" type="nns:messageSubSubParameter"/>
    </xs:sequence>
   </xs:complexType>
  </xs:schema>
  <xs:schema elementFormDefault="qualified" targetNamespace="element1NS" version="1.0" xmlns:ns1="schema1NS" xmlns:xs="http://www.w3.org/2001/XMLSchema">
   <xs:import namespace="schema1NS"/>
   <xs:element name="messageParameter">
    <xs:complexType>
     <xs:sequence>
      <xs:element name="sender" type="xs:string"/>
      <xs:element name="MSISDN" type="xs:string"/>
      <xs:element name="IDOffre" type="xs:string"/>
      <xs:element name="doscli" type="ns1:messageSubParameter"/>
     </xs:sequence>
    </xs:complexType>
   </xs:element>
   <xs:element name="messageSubSubParameter">
    <xs:complexType>
     <xs:sequence>
      <xs:element name="message" type="xs:string"/>
      <xs:element name="untyped"/>
     </xs:sequence>
    </xs:complexType>
   </xs:element>
  </xs:schema>
 </types>
 <message name="message1">
  <part name="messageParameter1" element="tns:messageParameter"/>
 </message>
 <message name="message2">
  <part name="messageParameter2" element="tns:messageSubSubParameter"/>
 </message>
  <message name="response1">
  <part name="messageResponse1" element="tns:messageParameter"/>
 </message>
 <message name="fault1">
  <part name="messageFault1" element="tns:messageParameter"/>
 </message>
 <portType name="TestPort">
  <operation name="registered">
   <input message="dns:message1"/>
   <output message="dns:response1"/>
   <fault message="dns:messageFault1" name="messageFault1"/>
  </operation>
  <operation name="rpcoperation">
   <input message="dns:message1"/>
   <output message="dns:response1"/>
   <fault message="dns:messageFault1" name="messageFault1"/>
  </operation>
  <operation name="documentoperation">
   <input message="dns:message1"/>
   <output message="dns:response1"/>
   <fault message="dns:messageFault1" name="messageFault1"/>
  </operation>
  <operation name="messageParameter">
   <input message="dns:message1"/>
   <output message="dns:response1"/>
   <fault message="dns:messageFault1" name="messageFault1"/>
  </operation>
  <operation name="messageSubSubParameter">
   <input message="dns:message2"/>
   <output message="dns:response1"/>
   <fault message="dns:messageFault1" name="messageFault1"/>
  </operation>
 
  <operation name="unregistered">
  </operation>

 </portType>
 <binding name="TestBinding" type="dns:TestPort">
  <soap:binding style="rpc" transport="http://schemas.xmlsoap.org/soap/http"/>
  <operation name="registered">
   <soap:operation soapAction="registeredaction"/>
   <input>
    <soap:body use="literal"/>
   </input>
   <output>
    <soap:body use="literal"/>
   </output>
   <fault name="InvalidInputException">
    <soap:fault name="InvalidInputException" use="literal"/>
   </fault>
   <fault name="LimandeException">
    <soap:fault name="LimandeException" use="literal"/>
   </fault>
  </operation>
  <operation name="rpcoperation">
   <soap:operation style="rpc" soapAction="rpcoperationaction"/>
   <input>
    <soap:body use="literal"/>
   </input>
   <output>
    <soap:body use="literal"/>
   </output>
   <fault name="InvalidInputException">
    <soap:fault name="InvalidInputException" use="literal"/>
   </fault>
   <fault name="LimandeException">
    <soap:fault name="LimandeException" use="literal"/>
   </fault>
  </operation>
  <operation name="documentoperation">
   <soap:operation style="document" soapAction="documentoperationaction"/>
   <input>
    <soap:body use="literal"/>
   </input>
   <output>
    <soap:body use="literal"/>
   </output>
   <fault name="InvalidInputException">
    <soap:fault name="InvalidInputException" use="literal"/>
   </fault>
   <fault name="LimandeException">
    <soap:fault name="LimandeException" use="literal"/>
   </fault>
  </operation>
  <operation name="messageParameter">
   <soap:operation style="document" soapAction=""/>
   <input>
    <soap:body use="literal"/>
   </input>
   <output>
    <soap:body use="literal"/>
   </output>
   <fault name="InvalidInputException">
    <soap:fault name="InvalidInputException" use="literal"/>
   </fault>
   <fault name="LimandeException">
    <soap:fault name="LimandeException" use="literal"/>
   </fault>
  </operation>
  <operation name="messageSubSubParameter">
   <soap:operation style="document" soapAction=""/>
   <input>
    <soap:body use="literal"/>
   </input>
   <output>
    <soap:body use="literal"/>
   </output>
   <fault name="InvalidInputException">
    <soap:fault name="InvalidInputException" use="literal"/>
   </fault>
   <fault name="LimandeException">
    <soap:fault name="LimandeException" use="literal"/>
   </fault>
  </operation>




  <operation name="unregistered" >
   <soap:operation style="document" soapAction="unregistered"/>
  </operation>
 </binding>
 <service name="TestService">
  <port binding="dns:TestBinding" name="TestServicePort">
   <soap:address location="http://example.com/TestService"/>
  </port>
 </service>
</definitions>
