test/soapdust/document-literal-wrapped.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<definitions name="TestService" targetNamespace="definitionNS" xmlns="http://schemas.xmlsoap.org/wsdl/" 
  xmlns:ns1="schema1NS" 
  xmlns:tns="element1NS"
  xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" 
  xmlns:xsd="http://www.w3.org/2001/XMLSchema">

 <types>
  <xs:schema targetNamespace="definitionNS" version="1.0" xmlns:xs="http://www.w3.org/2001/XMLSchema">
   <xs:element name="myMethod">
    <xs:complexType>
     <xs:sequence>
      <xs:element name="x" type="xsd:int"/>
      <xs:element name="y" type="xsd:float"/>
     </xs:sequence>
    </xs:complexType>
   </xs:element>
   <xs:element name="myMethodResponse">
    <xs:complexType/>
   </xs:element>
  </xs:schema>
 </types>

 <message name="myMethodRequest">
     <part name="parameters" element="myMethod"/>
 </message>
 <message name="empty">
     <part name="parameters" element="myMethodResponse"/>
 </message>

 
 <portType name="PT">
     <operation name="myMethod">
         <input message="myMethodRequest"/>
         <output message="empty"/>
     </operation>
 </portType>

 <binding name="TestBinding">
  <soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
  <operation name="myMethod">
   <input>
    <soap:body use="literal"/>
   </input>
   <output>
    <soap:body use="literal"/>
   </output>
  </operation>
 </binding>
</definitions> 
