test/soapdust/document-literal.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<definitions name="TestService" targetNamespace="definitionNS" xmlns="http://schemas.xmlsoap.org/wsdl/" 
  xmlns:ns1="schema1NS" 
  xmlns:tns="element1NS"
  xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" 
  xmlns:xsd="http://www.w3.org/2001/XMLSchema">

 <types>
   <xs:schema targetNamespace="definitionNS" 
              xmlns:xs="http://www.w3.org/2001/XMLSchema">
       <xs:element name="xElement" type="xsd:int"/>
       <xs:element name="yElement" type="xsd:float"/>
   </xs:schema>
 </types>

 <message name="myMethodRequest">
     <part name="x" type="xElement"/>
     <part name="y" type="yElement"/>
 </message>
 <message name="empty"/>
 
 <portType name="PT">
     <operation name="myMethod">
         <input message="myMethodRequest"/>
         <output message="empty"/>
     </operation>
 </portType>

 <binding name="TestBinding" type="PT">
  <soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
  <operation name="myMethod">
   <input>
    <soap:body use="literal"/>
   </input>
   <output>
    <soap:body use="literal"/>
   </output>
  </operation>
 </binding>
</definitions> 
