test/soapdust/wsdl/complex-type-of-complex-type.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<definitions name="TestService" targetNamespace="definitionNS" xmlns="http://schemas.xmlsoap.org/wsdl/" 
  xmlns:tns="element1NS"
  xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" 
  xmlns:xsd="http://www.w3.org/2001/XMLSchema">
 <types>
  <xs:schema elementFormDefault="qualified" targetNamespace="element2NS" 
             version="1.0" xmlns:xs="http://www.w3.org/2001/XMLSchema">
    <xs:complexType name="car">
      <xs:sequence>
       <xs:element name="id" type="xs:string"/>
       <xs:element name="owner" type="tns:people"/>
      </xs:sequence>
    </xs:complexType>
  </xs:schema>

  <xs:schema elementFormDefault="qualified" targetNamespace="element1NS" 
             version="1.0" xmlns:xs="http://www.w3.org/2001/XMLSchema">
    <xs:element name="people">
      <xs:complexType>
        <xs:sequence>
         <xs:element name="firstname" type="xs:string"/>
         <xs:element name="lastname" type="xs:string"/>
        </xs:sequence>
      </xs:complexType>
    </xs:element>
  </xs:schema>
 </types>
</definitions>
